
\.vscode/

alignment/

datasets/

docs/

python/

scripts/

tests/

trained_vectors/

website/

args\.o

classification-example\.sh

classification-results\.sh

CMakeLists\.txt

CONTRIBUTING\.md

core

dictionary\.o

eval\.py

fasttext

fasttext\.o

get-wikimedia\.sh

LICENSE

Makefile

MANIFEST\.in

matrix\.o

meter\.o

model\.bin

model\.o

model\.vec

pretrained-vectors\.md

productquantizer\.o

qmatrix\.o

quantization-example\.sh

runtests\.py

setup\.cfg

setup\.py

utils\.o

vector\.o

wikifil\.pl

word-vector-example\.sh
